.dashBody {
    position: absolute;
    width: 80%;
    height: 100%;
    right: 0;
}
h2 {
  text-align: center;
  margin-top: 40px;
  font-weight: 1000;
}

.appStatusCont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 90px 25px;
}
.statusCards {
    background: #c1e6ba;
    width: 160px;
    height:135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
}


@media(max-width: 640px) {
    .appStatusCont {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 50px auto;
}
.statusCards {
    background: #c1e6ba;
    width: 230px;
    height:125px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
}
.dashBody {
    width: 75%;

}

}

