.applBody {
    width: 80%;
    position: absolute;
    right: 0;
    height: 100;
} 

.btnCenter {
display: flex;
justify-content: center;
align-items: center;
}
.AddJobBtn {
    width: 150px;
    height: 50px;
    margin: 0 auto 30px;
    border: 0;
    border-radius: 15px;
    background: #023336;
    color: #fff;
    transition: .5s;
    cursor: pointer;   
}
.AddJobBtn:hover {
    opacity: .9;
    transform: scale(1.1);
}
@media(max-width:640px) {
    .applBody {
    width: 75%;
} 
}
